<!DOCTYPE html>

<html>
    <head>
        <%- include('partials/head'); %>
        <title>Environment</title>
    </head>

    <body>
        
        <div class="container">
            <header>    
                <%- include('partials/header'); %>
            </header>
    
            <h1 class="mb-3">About</h1>
    
            <div class="border mb-3 p-3">
                <p>This website retrieves news articles from the Guardian News API. There are different pages for different sections.</p>
                <p>This is a NodeJS application using the express framework</p>
                <p>This app is deployed on AWS</p>
                <p>This is the project demo change</p>
            </div>
    
            <%- include('partials/script'); %>
        </div>

    </body>
</html>