<!DOCTYPE html>

<html>
    <head>
        <%- include('partials/head'); %>
        <title>Home</title>
    </head>

    <body>
        <div class="container bg-gray-200">
            <header>    
                <%- include('partials/header'); %>
            </header>
    
            <h1 class="mb-3">Top Stories</h1>
    
            <%- include('partials/articles'); %>
    
            <%- include('partials/script'); %>
        </div>

    </body>
</html>